html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: url(../../images/4gtheme/bw-fade2.png) repeat-x #cccccc;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

hr {
	margin: 0 auto; 
	width: 95%
}

div.container {
	background: #fff;
	border: 1px solid #333;
	margin: 0 auto;
	width: 800px;	
}

div.header{	
	background: #000;
	padding-top: 5px;	
}

div.header h1{
	background: url(../../images/4gtheme/4glogo2.jpg) no-repeat #000000;
	height: 60px;
	margin-left: 10px;
}

div.column{
	display: inline; /*IE 6 hack*/
	float: left;
	margin: 33px;
	width: 200px;
}

div.column h1 {
	font-size: 1.6em;
	margin-bottom: 5px;
	margin-top: 15px;	
	text-align: center;
}

div p{
	margin-bottom: 1em;
	line-height: 1.4em;
}

div.footer{
	background: #000;
	clear:both;	
	color: #666666;
	font-size: 1.4em;
	text-align: center;
	padding-left: 10px;
}

div#incidentMap {
	height: 535px;
	width: 100%; 
}

a:link, a:visited, a:hover {
    border: 0px;
	color: #333;
    font-weight: bold;
    text-decoration: none;
} 

h1 {
	font-size: 1.6em;
	margin-bottom: 5px;
}

ul {
    padding-left: 15px;	
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../../images/4gtheme/skin/shadow2.jpg) bottom repeat-x;
    border-bottom: 1px solid #999;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
	display: inline;
    font-size: 10px;
    text-align: right;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../../images/4gtheme/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../../images/4gtheme/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../../images/4gtheme/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../../images/4gtheme/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
	background: url(../../images/4gtheme/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 95%
}
tr {
    border: 0;
}
td, th { 
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../../images/4gtheme/skin/shadow2.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../../images/4gtheme/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../../images/4gtheme/skin/sorted_desc.gif);
}

img {
	border: 0px;
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {	
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10px;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../../images/4gtheme/skin/shadow2.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
	margin-bottom: 25px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 10px;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {	
    color: #666;
    font-size: 10px;
    margin-top: 10px;
    overflow: visible;
    padding: 0;
    text-align: right;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    overflow: visible;
    padding: 1px 3px;
}
.buttons input.delete {
    background: transparent url(../../images/4gtheme/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 25px;
}

.buttons input.view {
    background: transparent url(../../images/4gtheme/skin/information.png) 5px 50% no-repeat;
    padding-left: 25px;
}

.buttons input.edit {
    background: transparent url(../../images/4gtheme/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 25px;
}
.buttons input.save {
    background: transparent url(../../images/4gtheme/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 25px;
}

.trendContainer {
	float: left; 
	margin: 25px; 
	margin-bottom: 0px;
	width: 100%;
}

.trendDiv {
	clear:both;
	margin: 0 auto; 
	width: 600px;				
}

.trendImg {
	display:inline;
	float: left;  
	margin-bottom: 25px;
	margin-right: 25px; 				
}

.trendTxt {
	display:inline;
	float: left;
	line-height: 1.4em;
	width: 300px;
}

.chartContainer{
	padding: 25px;
	text-align: center; 
}

#incident_type_by_gang{
	height: 170px;
}

#incident_type_by_year {
	height: 299px;
}

.gangContainer {
	margin: 25px;        		
}

table.gangTable {
	border: 0;
}

td.description {
	font-size: 1.25em;
	line-height: 1.5em;
}

td.line{
	border-bottom: 1px solid black;    		
} 